@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
  ViewBag.Title = "Create";
}
<h2>Add new user role</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
  @Html.AntiForgeryToken()
 
  @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
  <br />
  <input type="submit" value="Create Role" class="btn btn-secondary btn-sm" />
</div>
}

