@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
  ViewBag.Title = "Delete";
}
<h2>Delete user role</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <div class="form-horizontal">

    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
    <br />
    <input type="submit" value="Delete" class="btn btn-default" />
  </div>
}
