

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #cbcbcb;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
  background-color: #4f4f4f;

}

a{
  color : black;
}
a:hover {
    color: #838383;

}
h2{
  text-align: center;
}
 td a:hover {
    color:white;
}
.form-control{
  background-color:#605252;
  color : black;
}
.reason {
  width: 500px;
}
.search{
  float :right;
}
.btn btn-outline-secondary, .searchBtn {
  margin-left: 10px;
}
@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 1.6cm;
  }
  .nav {
    display: none;
  }
  .detail {
    display: none;
  }
  .print {
    display: none;
  }
  .link {
    display: none;
  }
}


